@model AllBatteryQueryModel

@{
    ViewData["Title"] = "All Batteries";
}


    <form method="get">
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Search something...." />
            </div>

        </div>
                  
    </form>



<div class="row">
    @foreach (var battery in Model.Batteries)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="@battery.Id" alt="@battery.Brand - @battery.Capacity Ah">
                <div class="card-body">
                    <h5 class="card-title">this display battery: @battery.Brand @battery.Technology - @battery.Amperage EN </h5>
                    <a asp-controller="Battery" asp-action="Details" asp-route-id="@battery.Id" class="btn btn-primary">View More</a>

                </div>
            </div>

            
        </div>
        
        
    }

</div>

